<mat-card class="mat-card-flat">
    <mat-card-content fxLayout="column" fxLayoutGap="8px">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <mat-icon class="mat-hint" style="color: rgba(255, 61, 0, 1)">directions_car</mat-icon>
                <strong [innerHtml]="new_divice.attributes.name"></strong>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <strong [innerHtml]="new_divice.attributes.battery + '%'"></strong>
                <mat-icon class="mat-hint" style="color: rgba(76, 175, 80, 1); transform: rotate(90deg);">battery_full</mat-icon>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-hint [innerHtml]="new_divice.attributes.description"></mat-hint>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <strong>
                    <mat-hint
                        [innerHtml]="new_divice.attributes.velocity + 'Km/s'"
                    ></mat-hint>
                </strong>
                <mat-icon class="mat-hint" style="color: rgba(33, 150, 243, 1)">equalizer</mat-icon>
            </div>
        </div>
    </mat-card-content>
</mat-card>
